<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Сообщения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Отделы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Сотрудники</a>
                </li>
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Отделы</a>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdown10">-->
<!--                        <th:block th:each="department: ${departments}">-->
<!--                            <a th:text="${department.getName()}" class="dropdown-item" href="#">Action</a>-->
<!--                        </th:block>-->
<!--                    </div>-->
<!--                </li>-->
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="поиск" aria-label="Search">
            </form>
        </div>
    </nav>
</div>

<div th:fragment="h1" class="container-fluid text-center">
    <h1 th:text="${h1}"/>
</div>

<div th:fragment="dapartmentPosts" class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Выбрать отдел
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a th:text="Все" class="dropdown-item" href="/posts">Все</a>
        <div class="dropdown-divider"></div>
        <th:block th:each="department: ${departments}">
            <a th:text="${department.getName()}" class="dropdown-item" th:href="@{/posts/{id}(id=${department.getId()})}"></a>
        </th:block>
    </div>
</div>

<div th:fragment="table">
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th><a class="sorted" sd:pagination-sort="id" >ID</a></th>
            <th scope="col">Кому</th>
            <th scope="col">Отправил</th>
            <th scope="col">Текст</th>
            <th scope="col">Исполнитель</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Дата обновления</th>
            <th scope="col">Файл</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post: ${posts}">
            <td th:text="${post.getId()}"/>
            <td th:text="${post.getToDepartment().getName()}"/>
            <td th:text="${post.getFromEmployee().getFullName()}"/>
            <td th:text="${post.getTextMsg()}"/>
            <td th:text="${post?.getTaskExecutor()?.getFullName()} ?: '-'"/>
            <td th:text="${#dates.format(post.getCreatedAt(), 'dd-MMM-yyyy HH:mm')}"></td>
            <td th:text="${#dates.format(post.getUpdatedAt(), 'dd-MMM-yyyy HH:mm')}"></td>
            <td th:text="${post.getFileId()!=null} ? '+' : '-'"/>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="pagination" class="row">
    <div class="col-sm-5 text-center">
        <div sd:pagination-summary="">info</div>
    </div>
    <div class="col-sm-6">
        <nav class="pull-right">
            <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>