<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10"
                aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Сообщения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/departments">Отделы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employees">Сотрудники</a>
                </li>
                <!--                <li class="nav-item dropdown">-->
                <!--                    <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Отделы</a>-->
                <!--                    <div class="dropdown-menu" aria-labelledby="dropdown10">-->
                <!--                        <th:block th:each="department: ${departments}">-->
                <!--                            <a th:text="${department.getName()}" class="dropdown-item" href="#">Action</a>-->
                <!--                        </th:block>-->
                <!--                    </div>-->
                <!--                </li>-->
            </ul>
            <!--            <form class="form-inline my-2 my-md-0">-->
            <!--                <input class="form-control" type="text" placeholder="поиск" aria-label="Search">-->
            <!--            </form>-->
        </div>
    </nav>
</div>

<div th:fragment="h1" class="container-fluid text-center">
    <h1 th:text="${h1}"/>
</div>

<div th:fragment="dapartmentPosts" class="dropdown">
    <ul class="navbar nav ml-auto">
        <li>
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Выбрать отдел
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a th:text="Все" class="dropdown-item" href="/posts">Все</a>
                <div class="dropdown-divider"></div>
                <th:block th:each="department: ${departments}">
                    <a th:text="${department.getName()}" class="dropdown-item"
                       th:href="@{/posts/{id}(id=${department.getId()})}"></a>
                </th:block>
            </div>
        </li>
        <li>
            <form class="form-inline" th:action="@{/posts/search}" method="post">
                <input class="form-control mr-sm-2" name="keyword" th:value="${keyword}" type="search"
                       placeholder="поиск по тексту" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
            </form>
        </li>
    </ul>
</div>

<div th:fragment="table-posts">
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th><a class="sorted" sd:pagination-sort="id">ID</a></th>
            <th><a class="sorted" sd:pagination-sort="toDepartment">Кому</a></th>
            <th><a class="sorted" sd:pagination-sort="fromEmployee">Отправил</a></th>
            <th><a class="sorted" sd:pagination-sort="textMsg">Текст</a></th>
            <th><a class="sorted" sd:pagination-sort="taskExecutor">Исполнитель</a></th>
            <th><a class="sorted" sd:pagination-sort="createdAt">Дата создания</a></th>
            <th><a class="sorted" sd:pagination-sort="updatedAt">Дата обновления</a></th>
            <th><a class="sorted" sd:pagination-sort="fileId">Файл</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post: ${posts}">
            <td th:text="${post.getId()}"/>
            <td th:text="${post.getToDepartment().getName()}"/>
            <td th:text="${post.getFromEmployee().getFullName()}"/>
            <td th:text="${post.getTextMsg()}"/>
            <td th:text="${post?.getTaskExecutor()?.getFullName()} ?: '-'"/>
            <td th:text="${#dates.format(post.getCreatedAt(), 'dd-MMM-yyyy HH:mm')}"></td>
            <td th:text="${#dates.format(post.getUpdatedAt(), 'dd-MMM-yyyy HH:mm')}"></td>
            <td th:text="${post.getFileId()!=null} ? '+' : '-'"/>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="table-departments">
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th><a class="sorted" sd:pagination-sort="id">ID</a></th>
            <th><a class="sorted" sd:pagination-sort="name">Название</a></th>
            <th>Пароль</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department: ${departments}">
            <td th:text="${department.getId()}"/>
            <td th:text="${department.getName()}"/>
            <td th:text="${department.getPassword()}"/>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="table-employees">
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th><a class="sorted" sd:pagination-sort="id">ID</a></th>
            <th><a class="sorted" sd:pagination-sort="fullName">Фамилия Имя</a></th>
            <th><a class="sorted" sd:pagination-sort="tgFirstName">Telegram имя</a></th>
            <th><a class="sorted" sd:pagination-sort="department">Отдел</a></th>
            <th><a class="sorted" sd:pagination-sort="role">Роль</a></th>
            <th><a class="sorted" sd:pagination-sort="createdAt">Дата создания</a></th>
            <th><a class="sorted" sd:pagination-sort="updatedAt">Дата обновления</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.getId()}"/>
            <td th:text="${employee.getFullName()}"/>
            <td th:text="${employee.getTgFirstName()}"/>
            <td th:text="${employee.getDepartment().getName()}"/>
            <td th:text="${employee.getRole()}"/>
            <td th:text="${#dates.format(employee.getCreatedAt(), 'dd-MMM-yyyy HH:mm')}"></td>
            <td th:text="${#dates.format(employee.getUpdatedAt(), 'dd-MMM-yyyy HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="pagination" class="row">
    <div class="col-sm-5 text-center">
        <div sd:pagination-summary="">info</div>
    </div>
    <div class="col-sm-6">
        <nav class="pull-right">
            <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>